language: python
python: 3.6
dist: xenial

install:
  - pip install tox
script:
  - tox -e $TOX_ENV

matrix:
  include:
    - python: 3.6
      env: TOX_ENV=py36
    - python: 3.7
      env: TOX_ENV=py37
    - env: TOX_ENV=py3-lint